<center><h1>Gerenciamento de Ordens de Compra</h1>


   <fieldset style="width:25%">
  	<legend>Login</legend>
	<ol>
	<%= form_tag sessions_path do %>
	  
<div class="field">
	    <%= label_tag :username %>
	    <%= text_field_tag :username, params[:username] %>
	  </div>
	  <div class="field">
	    <%= label_tag :password %>
	    <%= password_field_tag :password %>
	  </div>
	  <div class="actions"><%= submit_tag "Login" %></div>
	<% end %>

	</ol>

   </fieldset>
</center>
