<h1>Cadastro de Usuários</h1>
<br>
<table style="border-style:solid; border-width:1">
  <tr align=left>
    
    <th color="blue">Usuário</th>
    <th>Senha</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.username %></td>
    <td><%= user.password %></td>
    <td><%= user.email %></td>
    <td><%= link_to 'Visualizar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Apagar', user, :confirm => 'Você deseja excluir esse usuário?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar usuário', new_user_path %>

