<fieldset style="width:35%">
  <legend>Dados do usuário</legend>
<p id="notice"><%= notice %></p>

<p>
  <b>Usuário:</b>
  <%= @user.username %>
</p>

<p>
  <b>Senha:</b>
  <%= @user.password %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>
</fieldset>

<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Voltar', users_path %>
