<h1>Cadastro de Fornecedor</h1>

<table style="border-style:solid; border-width:1">
  <tr>
    <th align='left'>Cnpj</th>
    <th align='left'>Fornecedor</th>
    <th align='left'>Tipo</th>
    <th align='left'>Telefone</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vendors.each do |vendor| %>
  <tr>
    <td width=150><%= vendor.cnpj %></td>
    <td width=350><%= vendor.fornecedor %></td>
    <td width=150><%= vendor.tipo %></td>
    <td width=100><%= vendor.telefone %></td>
    <td><%= link_to 'Exibir', vendor %></td>
    <td><%= link_to 'Editar', edit_vendor_path(vendor) %></td>
    <td><%= link_to 'Excluir', vendor, :confirm => 'Deseja excluir o registro selecionado?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Inserir fornecedor', new_vendor_path %>
