<h1>Ordem de Compra</h1>

<table style="border-style:solid; border-width:1, width:25%">
  <tr>
    <th align='left'>Número da Ordem</th>
    <th align='left'>Fornecedor</th>
    <th align='left'>Aviso</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_headers.each do |order_header| %>
  <tr>
    <td width=150><%= order_header.order %></td>
    <td width=150><%= order_header.vendor_id %></td>
    <td width=300><%= order_header.aviso %></td>
    <td><%= link_to 'Exibir', order_header %></td>
    <td><%= link_to 'Editar', edit_order_header_path(order_header) %></td>
    <td><%= link_to 'Excluir', order_header, :confirm => 'Deseja excluir o registro selecionado?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar nova OC', new_order_header_path %>
