<fieldset style="width:35%">
  <legend>Resumo da Ordem de Compra</legend>

<p id="notice"><%= notice %></p>

<p>
  <b>Número da Ordem:</b>
  <%= @order_header.order %>
</p>

<p>
  <b>Fornecedor:</b>
  
  <%= @order_header.vendor.fornecedor %>
</p>

<p>
  <b>Aviso:</b>
  <%= @order_header.aviso %>
</p>
</fieldset>

<%= link_to 'Editar', edit_order_header_path(@order_header) %> |
<%= link_to 'Voltar', order_headers_path %>

<%= link_to 'Ir para as Linhas da OC', order_lines_path %>
