<h1>Linhas da Ordem de Compra</h1>

<table style="border-style:solid; border-width:1">
  <tr>
    <th align='left'>Número da Ordem</th>
    <th align='left'>Item</th>
    <th align='left'>Valor unitário</th>
    <th align='left'>Qtd</th>
    <th align='left'>Complemento</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_lines.each do |order_line| %>
  <tr>
    <td width=50><%= order_line.order_header.order %></td>
    <td width=100><%= order_line.product.codigo %></td>
    <td width=100><%= order_line.vlrUnit %></td>
    <td width=15><%= order_line.qtd %></td>
    <td width=250><%= order_line.complemento %></td>
    <td><%= link_to 'Exibir', order_line %></td>
    <td><%= link_to 'Editar', edit_order_line_path(order_line) %></td>
    <td><%= link_to 'Deletar', order_line, :confirm => 'Você deseja deletar o registro selecionado?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Criar nova linha de OC', new_order_line_path %>
<%= link_to 'Voltar', order_headers_path %>
