<fieldset style="width:35%">
  <legend>Linhas da OC</legend>

<p id="notice"><%= notice %></p>

<p>
  <b>Po header:</b>
  <%= @order_line.po_header_id %>
</p>

<p>
  <b>Item:</b>
  <%= @order_line.item_id %>
</p>

<p>
  <b>Vlrunit:</b>
  <%= @order_line.vlrUnit %>
</p>

<p>
  <b>Qtd:</b>
  <%= @order_line.qtd %>
</p>

<p>
  <b>Complemento:</b>
  <%= @order_line.complemento %>
</p>
</fieldset>

<%= link_to 'Editar', edit_order_line_path(@order_line) %> |
<%= link_to 'Voltar', order_lines_path %>
