<center><h1>Listagem de Produtos</h1>

<table style="border-style:solid; border-width:1">
  <tr>
    <th align='left'>Código</th>
    <th align='left'>Descrição</th>
    <th align='left'>UDM</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.codigo %></td>
    <td><%= product.descricao %></td>
    <td><%= product.udm %></td>
    <td><%= link_to 'Exibir', product %></td>
    <td><%= link_to 'Editar', edit_product_path(product) %></td>
    <td><%= link_to 'Deletar', product, :confirm => 'Você deseja excluir o item selecionado?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
</center>
<%= link_to 'Inserir produto', new_product_path %>
