<fieldset style="width:35%">
  <legend> Cadastro de produtos</legend>
<p id="notice"><%= notice %></p>

<p>
  <b>Código:</b>
  <%= @product.codigo %>
</p>

<p>
  <b>Descrição:</b>
  <%= @product.descricao %>
</p>

<p>
  <b>UDM:</b>
  <%= @product.udm %>
</p>
</fieldset>

<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Voltar', products_path %>
